# eth-ape==0.5.8
# custom version of ape used to work around protobuf dependencies, relax after https://github.com/dagster-io/dagster/issues/10627 is resolved
eth-ape @ git+https://github.com/scottincrypto/ape.git@pin_protobuf_3.20.1
ape-alchemy
ape-arbitrum
ape-etherscan
ape-fantom
ape-optimism
ape-polygon
ape-harmony @ git+https://github.com/scottincrypto/ape-harmony.git
ape-avalanche @ git+https://github.com/scottincrypto/ape-avalanche.git@update-for-ape-0.5
# ape-harmony @ https://github.com/scottincrypto/ape-harmony/archive/main.zip
# ape-avalanche @ https://github.com/scottincrypto/ape-avalanche/archive/refs/heads/update-for-ape-0.5.zip
subgrounds